@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;

  --black: #111111;
  --white: #ffffff;

  --gray-700: #444444;
  --gray-500: #666666;
  --gray-300: #898989;
  --gray-100: #e0e0e0;

  --primary-500: #ed7b58;
  --primary-300: #f8bdab;
  --primary-100: #fcd8ce;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
